@import url('./Background.css');
@import url('./header.css');
@import url('./main.css');


/*Global CSS*/
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: azure;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
/*------------------------------------------------------*/

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}